.resumeItemCard {
    max-width: 290px;
    margin: 30px;
}
.resumeItemCardButton {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.resumeItemCardTitle {
    margin-left: 20px;
}
.resumeItemCardImage {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}